_backup_copy/
_doc/
build/
.Xil/
.metadata/

*.srcs/
*_sdk/
*_pt2_sdk/
chess_img/
coe_files/

*.jou
*.log
*.pb
*.str
*.wdb
*.cache
*.gen
*.hw
*.ip_user_files
*.runs
*.sim
*.tmp
*.xpr
*.xsa
*.bit
*.bin
*.ltx
*.mmi
*.prm
*.elf
*.map

firmware/**/Debug/
firmware/**/Release/
firmware/**/.cproject
firmware/**/.project
